# ===== Quarto build output / caches =====
/_site/
/.quarto/
/.quarto-cache/

# ===== RStudio / R =====
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# ===== Jupyter / Python =====
.ipynb_checkpoints/
__pycache__/

# ===== OS cruft =====
.DS_Store
Thumbs.db

**/*.quarto_ipynb
